body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #111111;
}



.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: start;
}

.info{
    background-color: #1e1e1f;
    color: #ffffff;

    border: 1px solid;
    border-radius: 1rem;
    border-color: #666666;

    margin-top: 4rem;
    margin-left: 15vw;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info a{
    text-decoration: none;
    color: #ffffff;
}

.info a:hover{
    color: #6c6c6c;
}

.info h1{
    text-align: center;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.info-item i{ 
    color: #cc3535;
    font-size: 2rem;
}

.photo{
    width: 80%;     
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
}

.navbar{
    background-color: #282829;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 32%;
    
    border: 1px solid;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-color: #666666;

    font-size: larger;

}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar a:hover{
    color: #6c6c6c;
}

.navbar a.active {
    color: #cc3535;
}

.main{
    background-color: #1e1e1f;
    color: #ffffff;
    min-width: 500px;
    max-height: max-content;

    border: 1px solid;
    border-radius: 1rem;
    border-color: #666666;

    margin-top: 4rem;
    margin-right: 15vw;

    padding-bottom: 45rem; /* temp */
    padding-left: 1rem;
}

.main hr{
    background-color: #cc3535;

    border: none;
    border-radius: 1rem;
    margin-right: 90%;
    height: 0.5rem;
}

.main a{
    color: #ffffff;
    text-decoration: none;
}

.main a:hover{
    color: #6c6c6c;
}

.timeline{
    position: relative;
    max-width: 900px;
    margin-top: 2rem;
}

.timeline::before{
    background-color: #666666;
    content: '';
    position: absolute;
    
    left: 10px;
    top: 8px;
    bottom: 0;
    width: 2px;
}

.timeline-item{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.50rem;
}

.timeline-item::before{
    background-color: #cc3535;
    content: '';
    position: absolute;

    left: 0;
    top: 0;
    width: 18px;
    height: 18px;

    border: 3px solid #2a2a2a;
    border-radius: 50%;
}

.timeline-item h3{
    margin: 0 0 8px 0;
    font-weight: bold;
    font-size: larger;
}

.timeline-item .date{
    color: #cc3535;
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.presentation{
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    font-size: larger;
}