body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #111111;
    margin-bottom: 2rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: start;
}

.info{
    background-color: #1e1e1f;
    color: #ffffff;

    border: 1px solid;
    border-radius: 1rem;
    border-color: #666666;

    margin-top: 2rem;
    margin-left: 10vw;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    width: 15vw;

    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
}

.info a{
    text-decoration: none;
    color: #ffffff;
}

.info a:hover{
    color: #6c6c6c;
}

.info h1{
    text-align: center;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.info-item i{ 
    color: #cc3535;
    font-size: 2rem;
}

.photo{
    width: 80%;     
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
}

.navbar{
    background-color: #282829;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 35%;
    
    border: 1px solid;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-color: #666666;

    font-size: larger;
    white-space: nowrap;
    overflow-x: auto; 
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

.navbar a:hover{
    color: #6c6c6c;
}

.navbar a.active {
    color: #cc3535;
}

.main{
    background-color: #1e1e1f;
    color: #ffffff;
    min-width: 500px;
    max-height: max-content;

    border: 1px solid;
    border-radius: 1rem;
    border-color: #666666;

    margin-top: 2rem;
    margin-right: 10vw;

    padding-bottom: 45rem; /* temp */
    padding-left: 2rem;
}

.hr-rouge{
    background-color: #cc3535;

    border: none;
    border-radius: 1rem;
    margin-right: 90%;
    height: 0.5rem;
}

.main a{
    color: #ffffff;
    text-decoration: none;
}

.main a:hover{
    color: #6c6c6c;
}

.timeline{
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
}

.timeline::before{
    background-color: #666666;
    content: '';
    position: absolute;
    
    left: 10px;
    top: 8px;
    bottom: 0;
    width: 2px;
}

.timeline-item{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.50rem;
}

.timeline-item::before{
    background-color: #cc3535;
    content: '';
    position: absolute;

    left: 0;
    top: 0;
    width: 18px;
    height: 18px;

    border: 3px solid #2a2a2a;
    border-radius: 50%;
}

.timeline-item h3{
    margin: 0 0 8px 0;
    font-weight: bold;
    font-size: 22px;
}

.timeline-item .date{
    color: #cc3535;
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.timeline-item .timeline-txt{
    font-size: large;
}

.presentation{
    padding-right: 2rem;
    padding-bottom: 0.1rem;
    font-size: larger;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.skill-card{
    background: #282829;
    border: 1px solid;
    border-color: #666666;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skill-card:hover{
    border-color: #cc3535;
}

.skill-card img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 1rem;
}

.skill-card h3{
    font-size: 1.3em;
}

.container-projet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    margin-right: 2rem;
    margin-top: 1rem;
}
  
.projet{
    background-color: #282829;
    border: 1px solid;
    border-color: #666666;

    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
}

.projet:hover{
    border-color: #cc3535;
}

.projet h3{
    text-align: center;
}

.projet hr{
    border-color: #cc3535;
}

.description{
    padding: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

.certif-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.certif-card{
    background: #282829;
    border: 1px solid;
    border-color: #666666;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.certif-card:hover{
    border-color: #cc3535;
}

.certif-card img{
    width: 175px;
    height: 175px;
    object-fit: contain;
    display: block;
    margin: 0 auto 1rem;
}

.certif-card h3{
    font-size: 1.3em;
    text-transform: uppercase;
}